@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  margin: 2rem auto;
  width: 1100px;
}

.slider {
  position: relative;
  height: 100vh;
}

.arrow-right {
  position: absolute;
  top: 40%;
  right: 32px;
  color: #ec4899;
  font-size: 2rem;
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  top: 40%;
  left: 32px;
  color: #ec4899;
  font-size: 2rem;
  cursor: pointer;
}

.image {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}

.menu_active {
  @apply text-white bg-indigo-400 !important;
}

.item-header {
  @apply block transition duration-500 ease-in-out hover:no-underline transform hover:-translate-y-1 hover:scale-110 p-2;
}

@tailwind utilities;
/* Primary color: #ec4899 */